# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Markdown files
[*.{md,markdown}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = off

# YAML front matter
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Hugo template files
[*.html]
indent_style = space
indent_size = 2

# Hugo configuration
[config.{yaml,toml}]
indent_style = space
indent_size = 2