---
// Utterances comment system using GitHub issues
---

<section class="utterances-container mt-8">
  <Fragment
    set:html={`<script
      src="https://utteranc.es/client.js"
      repo="intervalrain/intervalrain.github.io"
      issue-term="pathname"
      theme="preferred-color-scheme"
      crossorigin="anonymous"
      async>
    </script>`}
  />
</section>
